anyconfig==0.9.7
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.8.24
chardet==3.0.4
Click==7.0
Flask==1.0.2
gTTS==2.0.1
gTTS-token==1.1.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
JPype1==0.6.3
MarkupSafe==1.0
nltk==3.3
numpy==1.15.2
PyAudio==0.2.11
pybeep==0.0.4
pyttsx==1.1
pyttsx3==2.7
requests==2.19.1
six==1.11.0
SpeechRecognition==3.8.1
urllib3==1.23
Werkzeug==0.14.1
